# dependabot.yml

version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "eduardo-rodrigues"
      - "andrzejnovak"
    ignore:
      - dependency-name: "actions/*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
    prefix: "chore(deps): "

  # Maintain dependencies for python
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "eduardo-rodrigues"
      - "andrzejnovak"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    prefix: "chore(deps): "
