language: python

os:
  - linux

python:
  - 2.6
  - 2.7
  - 3.4

addons:
  apt:
    packages:
      - python-numpy
      - python3-numpy
      - python-setuptools

install:
  - pip install --upgrade pip

script:
  python setup.py test

notifications:
  slack: scikit-hep:b6cgBXwccPoaCNLn5VKFJFVy
