[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pypdt = "*"
numpy = "*"


[dev-packages]

"e1839a8" = {path = ".", editable = true}
pytest = "*"
pytest-runner = "*"
numba = "*"
