awkward~=2.5.0
decaylanguage~=0.18.1
hepstats~=0.7.0
hepunits~=2.3.0
hist~=2.7.0
histoprint~=2.4.0
iminuit~=2.24.0
matplotlib>3.4.0
mplhep~=0.3.0
numpy>=1.13.1
particle~=0.23.0
pylhe~=0.7.0
resample~=1.6.0
uproot~=5.1.0
vector~=1.1.0
