hepunits~=2.0.0
particle~=0.12.0
decaylanguage~=0.8.0
awkward~=0.12
uproot-methods~=0.7.0
uproot~=3.12.0
boost-histogram~=0.11.0
hist~=2.0.0; python_version>="3.6"
iminuit~=1.3.0; python_version<"3.6"
iminuit~=1.5.0; python_version>="3.6"
numpy>=1.13.1
matplotlib>2.0.0
mplhelp~=0.2.0; python_version>="3.6"
