awkward~=2.8.0
decaylanguage~=0.20.0
hepstats~=0.9.0
hepunits~=2.4.0
hist~=2.10.1
histoprint~=2.6.0
iminuit~=2.32.0
matplotlib>3.4.0
mplhep~=1.0.0
numpy>=1.13.1
particle~=0.26.0
pylhe~=1.0.0
resample~=1.10.0
uproot~=5.6.0
vector~=1.7.0
