name: CD

on:
  workflow_dispatch:
  push:
    branches:
      - main
  release:
    types:
    - published

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build SDist & wheel
      run: pipx run build

    - uses: actions/upload-artifact@v4
      with:
        path: dist/*

    - name: Check metadata
      run: pipx run twine check dist/*


  publish:
    needs: [dist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment: pypi
    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v5
      with:
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@release/v1
