name: CI

on:
  push:
   branches:
     - master
     - py2-legacy
  pull_request:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'

jobs:
  check-manifest:
    name: Check manifest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.x"
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args: --all-files --hook-stage manual check-manifest

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install pytest pytest-cov coveralls
    - name: Install package
      run: python -m pip install .
    - name: Test with pytest
      run: pytest --cov=skhep tests
    - name: Send to coveralls
      if: matrix.python-version == 3.9
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.os }} - ${{ matrix.python-version }}
      run: coveralls --service=github
