name: Current releases

on:
  push:
   branches:
     - master
  pull_request:
  # Run daily at 0:01 UTC
  schedule:
  - cron:  '1 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest pytest-cov coveralls>=1.9.2
    - name: Install package and upgrade dependencies to PyPI current release
      run: |
        python -m pip install .
        python -m pip install --upgrade -r requirements_current_release.txt
        python -m pip list
    - name: Test with pytest
      run: pytest --cov=skhep tests
